  body {
    margin: 0;
  }
  
  .board {
    width: 100vw;
    height: 75vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
  }

  .cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
  }

  .cell.x,
  .cell.o {
    cursor: not-allowed;
  }

  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3) {
    border-top: none;
  }

  .cell:nth-child(3n+1)  {
    border-left: none;
  }

  .cell:nth-child(3n){
    border-right: none;
  }

  .cell:last-child,
  .cell:nth-child(7),
  .cell:nth-child(8) {
    border-bottom: none;
  }

  .cell.x::after,
  .board.x .cell:not(.x):not(.o):hover::after {
    content: '×';
    font-size: 90px;
    color: brown;
  }

  .cell.o::after,
  .board.o .cell:not(.x):not(.o):hover::after {
    content: '○';
    font-size: 110px;
    color: blue;
  }
  p,
  .rs {
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  .win {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(177, 240, 95, 0.801);
    justify-content: center;
    align-items: center;
    color: rgba(248, 0, 0, 0.973);
    font-size: 25px;
    flex-direction: column;
  }
  
  .win button {
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }

  .win.show {
    display: flex;
  }